<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="normal/base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
</head>
<body>
    <section>
        <div class="card m-3">
            <div class="card-body">
                <h1 class="text-center">Your Contacts</h1>

                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr th:each=" c: ${contacts}">
                        <th scope="row" th:text="${'SCM2020'+c.cid}">1</th>
                        <td>
                          <img  class="profile_pic" src="" th:src="@{'/images/'+${c.imageURL}}" alt="profile photo">
                          <span th:text="${c.name}"></span>
                        </td>
                        <td>
                          <a href="" th:href="@{'/user/'+${c.cid}+'/contact'}">
                            <span th:text="${c.email}"></span>
                          </a>
                        </td>
                        <td th:text="${c.phone}">@mdo</td>
                        <td>
                            <a href="#" th:onclick="|deletecontact(${c.cid})|" class="btn btn-danger btn-sm">Delete</a>
                            <form method="post" th:action="@{'/user/update_contact/'+${c.cid}}">
                              <button class="btn btn-primary  btn-block ">Update</button>
                            </form>
                        </td>
                      </tr>
                     
                    
                    </tbody>
                  </table>
                 
                    <nav aria-label="Page navigation example">
                      <ul class="pagination">
                        <li th:if="${currentPage!=0}" class="page-item"><a class="page-link" href="#" th:href="@{${currentPage-1}}">Previous</a></li>
                        <li th:classappend="${currentPage==i-1?'active':''}" th:each=" i : ${#numbers.sequence(1,totalPage)}" class="page-item"><a class="page-link" href="#" th:href="@{${i-1}}"><span th:text="${i}"></span></a></li>
                        <li th:if="${currentPage+1!=totalPage}" class="page-item"><a class="page-link" href="#" th:href="@{${currentPage+1}}">Next</a></li>
                      </ul>
                    </nav>
                  
            </div>
        </div>
    </section>
</body>
</html>